.Rproj.user
.Rhistory
.RData
.Ruserdata
rdata/2024-4-26-rnaseq.RData
rdata/2024年4月26日17点06分.RData
rdata/
gsearesult/
glimma-plots/
ridgeplots/
contracts.csv
counts.csv
FGF19-C57-GSEA-STAT3.eps
GSE158359-counts.csv
results-eft.csv
RNASeq_ranks_FC_treatedvsuntreated.csv.rnk
RNASeq_ranks_treatedvsuntreated.csv.rnk
treatedvsuntreated.csv
